.title {
  background-color:linear-gradient(red, white);
  font-weight:bolder;
}
h1 {
  font-size:40px;
}
html{
  text-align:center;
}
img{
  width:400px;
  height:300px;
}
img:hover{
  opacity:0.5
}
footer{
  background-color:red;
}
