h1.title {
  background-color:linear-gradient(red, white);
  font-weight:bolder;
}
h1 {
  font-size:60px;
}
.better{
  background-color:#c2e6ea;
}
.minecraft{
  background-color:#307200;
}
.gs{
  background-image: linear-gradient(to right, black, red , black);
}
html{
  text-align:center;
}
img{
  width:400px;
  height:300px;
}
#frozen{
  height:300px;
}
img:hover{
  opacity:0.5
}
footer{
  background-color:red;
  border:1px;
}
#footer {
   position: fixed;
   bottom: 0;
   width: 100%;
   height: 60px;  
   background: #6cf;
}
