.title {
  background-color:linear-gradient(red, white);
  font-weight:bolder;
}
h1 {
  font-size:40px;
}
html{
  text-align:center;
}
img{
  width:400px;
  height:300px;
}
img:hover{
  opacity:0.5
}
footer{
  background-image:url("https://cdn.discordapp.com/attachments/610217920508985344/1022661669928828969/IMG_1738.png");
}
